<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>PILBOT'S POKÉMON STORAGE SYSTEM</title>

<link rel="icon" type="image/png" href="/img/favicon.png" /> 
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet/less" type="text/css" href="/css/main.less" />
<script type="text/javascript" src="/js/less-1.4.0-beta.js"></script>
</head>
 
<body>
    <div class="container">
        <div class="navbar navbar-inverse main-nav">
            <div class="navbar-inner">
                <a class="brand" href="/"><img alt="" src="/img/favicon.png" /> PILBOT'S POKÉMON STORAGE SYSTEM</a>
                <ul class="nav pull-right">
                    <li class="pull-right"><a href="https://github.com/pilbot/ppss/issues"><i class="icon-bug"></i> Bugs</a></li>
                </ul>
            </div>
        </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>

