<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>PILBOT'S POKÉMON STORAGE SYSTEM</title>
{% load staticfiles %}
<link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" /> 
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet/less" type="text/css" href="{% static "css/main.less" %}" />
<script type="text/javascript" src="{% static "js/less-1.4.0-beta.js" %}"></script>
</head>
 
<body>
    <div class="container">
        <div class="navbar navbar-inverse main-nav">
            <div class="navbar-inner">
                <a class="brand" href="/"><img alt="" src="/img/favicon.png" /> PILBOT'S POKÉMON STORAGE SYSTEM</a>
                <ul class="nav pull-right">
                    <li class="pull-right"><a href="https://github.com/pilbot/ppss/issues"><i class="icon-bug"></i> Bugs</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div class="sidebar well well-small">
                {% regroup sets by country as country_sets %}
                    <ul class="nav nav-list">
                    {% for country in country_sets %}
                        <li class="nav-header">{{ country.grouper }}</li>
                        {% for s in country.list %}
                        <li>
                            <a href="{% url "cards.views.set_list" s.id %}">
                            {% if s.logo %}
                                <img alt="{{ s.name }} Logo" src="{{ s.logo.url }}" />
                            {% endif %}
                                {{ s.name }}
                                <span class="badge pull-right">{{ s.card_count }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span9">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

