{% extends "base.html" %}

{% block content %}
<h2>{{ card.name }} <small>{{ card.card_set.name }}</small></h2>
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="control-group">
        {{ field.errors }}
        <label class="control-label">{{ field.label_tag }}</label>
        <div class="controls">
            {{ field }}
        </div>
    </div>
{% endfor %}
<input class="btn" type="submit" value="Save" />
</form>
{% endblock %}
