{% extends "base.html" %}

{% block content %}
<h1>
    {% if set.logo %}
        <img alt="{{ set.name }} Logo" src="{{ set.logo.url }}" />
    {% endif %}
    {{ set.name }}
    <small>Official Count: {{ set.official_count }}/Total Count: {{ set.card_set.all.count }}</small>
</h1>
<table class="cards table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Rarity</th>
        <th>Total</th>
    </tr>
    {% for c in set.card_set.all %}
    <tr>
        <td>{{ c.card_no }}</td>
        <td><a href="{% url "cards.views.card_detail" c.id %}">{{ c.name }}</a></td>
        <td>
        {% if c.card_type.logo %}
            <img alt="{{ c.card_type.name }}" src="{{ c.card_type.logo.url }}" />
        {% else %}
            {{ c.card_type.name }}
        {% endif %}
        </td>
        <td>
        {% if c.rarity.logo %}
            <img alt="{{ c.rarity.name }}"  src="{{ c.rarity.logo.url }}" />
        {% else %}
            {{ c.rarity.name }}
        {% endif %}
        </td>
        <td>
            <span class="badge{% if c.instances.count != 0 %} badge-success{% endif %}">
                {{ c.instances.count }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

