{% extends "base.html" %}

{% block content %}
<h1>
    {% if card.rarity.logo %}
    <img alt="{{ card.rarity.name }}"  src="{{ card.rarity.logo.url }}" />
    {% else %}
    {{ card.rarity.name }}
    {% endif %}
    <a href="{{ card.url }}">{{ card.card_no }}/{{ card.card_set.official_count }} - {{ card.name }}</a>
    <small>{{ card.card_set.name }}</small>
    <a class="btn" href="{% url "cards.views.new_cardinstance" card.id %}"><i class="icon-plus"></i></a>
</h1>
{% regroup card.instances by variant as variant_list %}
<table class="table table-hover cardinstances">
    <tr>
        <th>Variant</th>
        <th>Condition &amp; Location</th>
    </tr>
    {% for variant in variant_list %}
    <tr>
        <td>{{ variant.grouper }}</td>
        <td>
            <ul>
            {% for instance in variant.list %}
                <li>
                    {{ instance.condition }} ({{ instance.location }})
                    <a class="delete-btn btn pull-right" href="{% url "cards.views.delete_cardinstance" instance.id %}">
                        <i class="icon-trash"></i>
                    </a>
                    <a class="btn pull-right" href="{% url "cards.views.edit_cardinstance" instance.id %}">
                        <i class="icon-edit"></i>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th class="total-value">{{ card.instances.count }}</th>
    </tr>
</table>
{% endblock %}
