{% extends "base.html" %}

{% block content %}
<h1>Set List</h1>
<div class="sidebar well well-small">
{% regroup sets by country as country_sets %}
<ul class="nav nav-list">
{% for country in country_sets %}
    <li class="nav-header">{{ country.grouper }}</li>
    {% for s in country.list %}
    <li>
        <a href="{% url "cards.views.set_list" s.id %}">
        {% if s.logo %}
            <img alt="{{ s.name }} Logo" src="/{{ s.logo.url }}" />
        {% endif %}
            {{ s.name }}
        </a>
    </li>
    {% endfor %}
{% endfor %}
</ul>
</div>
{% endblock %}

